div {
    font-family: "Merriweather", serif;
    font-size: 2rem;
  }
  
  p,
  a {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2rem;
    color: #eee;
  }
  
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    list-style-type: none;
    font-size: 2rem;
  }
  
  ul li {
    padding: 1rem;
    background: #5151514a;
    border-radius: 12px;
  }
  ul li {
    margin: 0 20px;
  }
  
  ul li:first-child {
    margin-left: 0;
  }
  
  ul li:last-child {
    margin-right: 0;
  }
  
  .fab {
    font-size: 5rem;
  }
  svg {
    width: 5rem;
  }

  .fa-codepen,
  .fa-github,
  .fa-discord,
  svg {
    transition: 0.4s;
    cursor: pointer;
  }
  
  .fa-github:hover,
  .fa-github:focus {
    color: #000;
    transform: scale(1.1);
  }

  
  .fa-github:hover,
  .fa-github:focus {
    color: #000;
    transform: scale(1.1);
  }
  
  .fa-github:hover,
  .fa-github:focus {
    color: #000;
    transform: scale(1.1);
  }
  
  .fa-codepen:hover,
  .fa-codepen:focus {
    color: #000;
    transform: scale(1.1);
  }
  svg:hover,
  svg:focus {
    color: #5a0707;
    transform: scale(1.1);
  }
  .fa-discord:hover,
  .fa-discord:focus {
    color: #7289DA;
    transform: scale(1.1);
  }
  section {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 40%;
    z-index: 2;
  }