@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*, *:before, *:after {
    box-sizing: inherit;
    -webkit-user-select: inherit;
    user-select: inherit;
    -webkit-user-drag: inherit;
    -webkit-tap-highlight-color: inherit;
    backface-visibility: inherit;
}

* {
    margin: 0;
    padding: 0;

}

html {
    line-height: 1;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main,canvas {
    display: block;
    zoom: 1.1;
}


html,
body {
    height: 100%;
}

body {
    background-color: #0d0d0d;
    font-weight: 600;
    font-feature-settings: "palt";
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#Page {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    color: #fff;
    white-space: nowrap;
    transition-property: background-color;
    transition-duration: .9s;
    transition-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1);
    overflow:hidden;
}

#Background {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    pointer-events: none;

}
.hidden {
    display: none;
}

.page {
    display: none;
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
}

.page.is-leaving {
    position: absolute;
    left: 0;
    top: 0;
}

.headerpage {
    width: 90%;
    height: 6%;
    position: fixed;
    z-index: 2;
    left: 5%;
    top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.headerpage a {
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    font-style: normal;  
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
}

.headerpage a:nth-child(3) img {
    width: 62px;
    height: 60px;
    margin-bottom: -20px;
}

.headerpage a span {
    justify-content: space-between;
    display: inline-grid;
    font-style: italic;
    position: relative;
}

.headerpage a span::after {
    content: '';
    position: absolute;
    left: 50%; 
    bottom: 12px;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width 0.6s ease, left 0.3s ease; 
}

.headerpage a:not(:nth-child(3)) span:hover::after {
    width: 105%;
    left: 0;
}

.headerpage .select {
    text-decoration: line-through;
    font-style: italic;
    font-weight: 400;
}

.container {
    position: relative;
    height: 100vh;
}

.container img {
    position: absolute;
    bottom: 0;
    width: 70%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.image-3d {
    width: 100%; 
    height: auto; 
    transition: transform 0.5s ease; 
}


.hovered .image-3d {
    transform: translate(-50%, 20%) rotateX(10deg) rotateY(10deg); 
}

.anime-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;

}

.anime-container .dot{
z-index: 100;
position: absolute;
border-radius: 50%;
background-color: #f1f1f1;
}

footer {
    font-family: "roboto", serif;
    bottom: 0;
    position: fixed;
    left: 5%;
    background: #4e4e4e30;
    width: 20%;
    margin: 0;
    padding: 0;
    height: 5%;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    z-index: 10000;
    border-radius: 10px 10px 0 0;
    min-width: 250px;
}
footer p {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    margin: auto;
    padding: 5% 0;
}
.toggle {
    z-index:  100;
    position: fixed;
    cursor: pointer;
    bottom: 40px;
    transform: scale(2.5);
    right: 60px;
    --speed: 0.4s;
    --innerdelay: 0.05s;
    --delay: 0.4s;
    --angle: 45deg;
    --x0: 0.1em; --x1: 0.1em; --x2: 0.1em;
    --x3: 0.1em; --x4: 0.1em; --x5: 0.1em;
    --x6: 0.1em; --x7: 0.1em; --x8: 0.1em;
    --y0: 0.1em; --y1: 0.1em; --y2: 0.1em;
    --y3: 0.1em; --y4: 0.1em; --y5: 0.1em;
    --y6: 0.1em; --y7: 0.1em; --y8: 0.1em;
    --x10: -0.4em; --x11: -0.4em; --x12: -0.4em;
    --x13: -0.4em; --x14: -0.4em; --x15: -0.4em;
    --x16: -0.4em; --x17: -0.4em; --x18: -0.4em;
    --y10: -1.9em; --y11: -1.9em; --y12: -1.9em;
    --y13: -1.9em; --y14: -1.9em; --y15: -1.9em;
    --y16: -1.9em; --y17: -1.9em; --y18: -1.9em;
    appearance: none;
    font-size: 1em;
    box-sizing: content-box;
    border: max(1px, 0.05em) solid white;
    width: 2.5em;
    height: 1em;
    color: white;
    transition:
        --x0 var(--speed) calc(var(--delay) + var(--innerdelay) * 0),
        --x1 var(--speed) calc(var(--delay) + var(--innerdelay) * 1),
        --x2 var(--speed) calc(var(--delay) + var(--innerdelay) * 2),
        --x3 var(--speed) calc(var(--delay) + var(--innerdelay) * 3),
        --x4 var(--speed) calc(var(--delay) + var(--innerdelay) * 4),
        --x5 var(--speed) calc(var(--delay) + var(--innerdelay) * 5),
        --x6 var(--speed) calc(var(--delay) + var(--innerdelay) * 6),
        --x7 var(--speed) calc(var(--delay) + var(--innerdelay) * 7),
        --x8 var(--speed) calc(var(--delay) + var(--innerdelay) * 8),
        --y0 var(--speed) calc(var(--delay) + var(--innerdelay) * 0),
        --y1 var(--speed) calc(var(--delay) + var(--innerdelay) * 1),
        --y2 var(--speed) calc(var(--delay) + var(--innerdelay) * 2),
        --y3 var(--speed) calc(var(--delay) + var(--innerdelay) * 3),
        --y4 var(--speed) calc(var(--delay) + var(--innerdelay) * 4),
        --y5 var(--speed) calc(var(--delay) + var(--innerdelay) * 5),
        --y6 var(--speed) calc(var(--delay) + var(--innerdelay) * 6),
        --y7 var(--speed) calc(var(--delay) + var(--innerdelay) * 7),
        --y8 var(--speed) calc(var(--delay) + var(--innerdelay) * 8),
        --x10 var(--speed) calc(var(--innerdelay) * 0),
        --x11 var(--speed) calc(var(--innerdelay) * 1),
        --x12 var(--speed) calc(var(--innerdelay) * 2),
        --x13 var(--speed) calc(var(--innerdelay) * 3),
        --x14 var(--speed) calc(var(--innerdelay) * 4),
        --x15 var(--speed) calc(var(--innerdelay) * 5),
        --x16 var(--speed) calc(var(--innerdelay) * 6),
        --x17 var(--speed) calc(var(--innerdelay) * 7),
        --x18 var(--speed) calc(var(--innerdelay) * 8),
        --y10 var(--speed) calc(var(--innerdelay) * 0),
        --y11 var(--speed) calc(var(--innerdelay) * 1),
        --y12 var(--speed) calc(var(--innerdelay) * 2),
        --y13 var(--speed) calc(var(--innerdelay) * 3),
        --y14 var(--speed) calc(var(--innerdelay) * 4),
        --y15 var(--speed) calc(var(--innerdelay) * 5),
        --y16 var(--speed) calc(var(--innerdelay) * 6),
        --y17 var(--speed) calc(var(--innerdelay) * 7),
        --y18 var(--speed) calc(var(--innerdelay) * 8);
   
    &::before {
      content: "";
      width: 0.8em;
      height: 0.8em;
      position: absolute;
      top: 0.1em;
      left: 0.1em;
      box-sizing: border-box;
      border: 0.15em solid #f000;
    }
    
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:
        /* off lines */
        linear-gradient(var(--angle), #0000  8%, currentcolor 0 12%, #0000 0) var(--x0) var(--y0),
        linear-gradient(var(--angle), #0000 18%, currentcolor 0 22%, #0000 0) var(--x1) var(--y1),
        linear-gradient(var(--angle), #0000 28%, currentcolor 0 32%, #0000 0) var(--x2) var(--y2),
        linear-gradient(var(--angle), #0000 38%, currentcolor 0 42%, #0000 0) var(--x3) var(--y3),
        linear-gradient(var(--angle), #0000 48%, currentcolor 0 52%, #0000 0) var(--x4) var(--y4),
        linear-gradient(var(--angle), #0000 58%, currentcolor 0 62%, #0000 0) var(--x5) var(--y5),
        linear-gradient(var(--angle), #0000 68%, currentcolor 0 72%, #0000 0) var(--x6) var(--y6),
        linear-gradient(var(--angle), #0000 78%, currentcolor 0 82%, #0000 0) var(--x7) var(--y7),
        linear-gradient(var(--angle), #0000 88%, currentcolor 0 92%, #0000 0) var(--x8) var(--y8),
        /* on lines */
        linear-gradient(var(--angle), #0000  8%, currentcolor 0 12%, #0000 0) var(--x10) var(--y10),
        linear-gradient(var(--angle), #0000 18%, currentcolor 0 22%, #0000 0) var(--x11) var(--y11),
        linear-gradient(var(--angle), #0000 28%, currentcolor 0 32%, #0000 0) var(--x12) var(--y12),
        linear-gradient(var(--angle), #0000 38%, currentcolor 0 42%, #0000 0) var(--x13) var(--y13),
        linear-gradient(var(--angle), #0000 48%, currentcolor 0 52%, #0000 0) var(--x14) var(--y14),
        linear-gradient(var(--angle), #0000 58%, currentcolor 0 62%, #0000 0) var(--x15) var(--y15),
        linear-gradient(var(--angle), #0000 68%, currentcolor 0 72%, #0000 0) var(--x16) var(--y16),
        linear-gradient(var(--angle), #0000 78%, currentcolor 0 82%, #0000 0) var(--x17) var(--y17),
        linear-gradient(var(--angle), #0000 88%, currentcolor 0 92%, #0000 0) var(--x18) var(--y18),
        #0000;
      background-size: 0.8em 0.8em;
      background-repeat: no-repeat;
    }
    
    &:checked {
      --x0: 2.1em; --x1: 2.1em; --x2: 2.1em;
      --x3: 2.1em; --x4: 2.1em; --x5: 2.1em;
      --x6: 2.1em; --x7: 2.1em; --x8: 2.1em;
      --y0: 2.1em; --y1: 2.1em; --y2: 2.1em;
      --y3: 2.1em; --y4: 2.1em; --y5: 2.1em;
      --y6: 2.1em; --y7: 2.1em; --y8: 2.1em;
      --x10: 1.6em; --x11: 1.6em; --x12: 1.6em;
      --x13: 1.6em; --x14: 1.6em; --x15: 1.6em;
      --x16: 1.6em; --x17: 1.6em; --x18: 1.6em;
      --y10: 0.1em; --y11: 0.1em; --y12: 0.1em;
      --y13: 0.1em; --y14: 0.1em; --y15: 0.1em;
      --y16: 0.1em; --y17: 0.1em; --y18: 0.1em;
      
      transition:
        --x0 var(--speed) calc(var(--innerdelay) * 0),
        --x1 var(--speed) calc(var(--innerdelay) * 1),
        --x2 var(--speed) calc(var(--innerdelay) * 2),
        --x3 var(--speed) calc(var(--innerdelay) * 3),
        --x4 var(--speed) calc(var(--innerdelay) * 4),
        --x5 var(--speed) calc(var(--innerdelay) * 5),
        --x6 var(--speed) calc(var(--innerdelay) * 6),
        --x7 var(--speed) calc(var(--innerdelay) * 7),
        --x8 var(--speed) calc(var(--innerdelay) * 8),
        --y0 var(--speed) calc(var(--innerdelay) * 0),
        --y1 var(--speed) calc(var(--innerdelay) * 1),
        --y2 var(--speed) calc(var(--innerdelay) * 2),
        --y3 var(--speed) calc(var(--innerdelay) * 3),
        --y4 var(--speed) calc(var(--innerdelay) * 4),
        --y5 var(--speed) calc(var(--innerdelay) * 5),
        --y6 var(--speed) calc(var(--innerdelay) * 6),
        --y7 var(--speed) calc(var(--innerdelay) * 7),
        --y8 var(--speed) calc(var(--innerdelay) * 8),
        --x10 var(--speed) calc(var(--delay) + var(--innerdelay) * 0),
        --x11 var(--speed) calc(var(--delay) + var(--innerdelay) * 1),
        --x12 var(--speed) calc(var(--delay) + var(--innerdelay) * 2),
        --x13 var(--speed) calc(var(--delay) + var(--innerdelay) * 3),
        --x14 var(--speed) calc(var(--delay) + var(--innerdelay) * 4),
        --x15 var(--speed) calc(var(--delay) + var(--innerdelay) * 5),
        --x16 var(--speed) calc(var(--delay) + var(--innerdelay) * 6),
        --x17 var(--speed) calc(var(--delay) + var(--innerdelay) * 7),
        --x18 var(--speed) calc(var(--delay) + var(--innerdelay) * 8),
        --y10 var(--speed) calc(var(--delay) + var(--innerdelay) * 0),
        --y11 var(--speed) calc(var(--delay) + var(--innerdelay) * 1),
        --y12 var(--speed) calc(var(--delay) + var(--innerdelay) * 2),
        --y13 var(--speed) calc(var(--delay) + var(--innerdelay) * 3),
        --y14 var(--speed) calc(var(--delay) + var(--innerdelay) * 4),
        --y15 var(--speed) calc(var(--delay) + var(--innerdelay) * 5),
        --y16 var(--speed) calc(var(--delay) + var(--innerdelay) * 6),
        --y17 var(--speed) calc(var(--delay) + var(--innerdelay) * 7),
        --y18 var(--speed) calc(var(--delay) + var(--innerdelay) * 8);
      
      &::before {
        left: 1.6em;
      }
    }
    
    &[disabled] {
      opacity: 0.25;
    }
  }
  
  @media (prefers-reduced-motion) {
    .toggle {
      &, &::before, &::after {
        transition: none !important;
        animation: none !important;
      }
    }
  }
  
  @property --speed { syntax: '<time>'; initial-value: 0.4s; inherits: true; }
  @property --innerdelay { syntax: '<time>'; initial-value: 0.05s; inherits: true; }
  @property --delay { syntax: '<time>'; initial-value: 0.3s; inherits: true; }
  @property --angle { syntax: '<angle>'; initial-value: 45deg; inherits: true; }
  @property --x0 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x1 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x2 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x3 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x4 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x5 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x6 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x7 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x8 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y0 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y1 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y2 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y3 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y4 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y5 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y6 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y7 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y8 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x10 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x11 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x12 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x13 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x14 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x15 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x16 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x17 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --x18 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y10 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y11 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y12 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y13 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y14 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y15 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y16 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y17 { syntax: '<length>'; initial-value: 1px; inherits: true; }
  @property --y18 { syntax: '<length>'; initial-value: 1px; inherits: true; }
